

/* body {background: yellow}; */
#wave-a {
  position: absolute;
  display: block;
  background: red;
  color: white;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  

};

#blue {
  color: blue;
};